body{
	background-color:  	#C0C0C0;
	font-family:Helvetica, Arial, sans-serif;

}
#container{
	width:800px;
	margin-right: auto;
	margin-left: auto;


}
#header {
	background-color: #87CEFA;
	color: white;
}

#nav ul{
	text-align:center;
	position:relative;
	left:30px;
}
#nav ul li{
	float:left;
	padding:20px;
	list-style-type: none;
}
#main{
	clear:both;
}
#footer{
	padding:20px;
	background-color:#708090;
	text-align:center;


}